<div class="container">
  <h2 class="header">Resume analyzer according to JD</h2>

  <div class="container-section">
    <div class="upload">
      <strong>Upload resume: </strong>
      <input class="upload-section" type="file" (change)="onFileSelected($event)">

    </div>
    <textarea [(ngModel)]="jobDescription" rows="10" cols="80" placeholder="Paste Job Description"></textarea>
    <div class="analyze-button">
      <button [disabled]="!selectedFile" (click)="analyze()">Analyze resume</button>
    </div>

  </div>


  <ng-container *ngIf="analysis">
    <div class="section">
      <h3>
        Matching Skills
      </h3>
      <ul>
        <li *ngFor="let item of analysis?.matchingSkills">
          {{ item }}
        </li>
      </ul>
    </div>
    <div class="section">
      <h3>
        Missing Skills
      </h3>
      <ul>
        <li *ngFor="let item of analysis?.missingSkills">
          {{ item }}
        </li>
      </ul>
    </div>
    <div class="section">
      <h3>
        Recommendations
      </h3>
      <ul>
        <li *ngFor="let item of analysis?.recommendations">
          {{ item }}
        </li>
      </ul>
    </div>
  </ng-container>
</div>